.App {
  text-align: center;
  background-color: burlywood;
  font-size: 30pt
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  position: relative;
}

.LinkBar{
  display: inline-block;
}

.Links{
  font-size: calc(10px + 2vmin);
  color:crimson;
  padding: 1rem 1rem;
  text-decoration: none;
  text-align: center;
  
}

.Links:hover{
  background-color: rgb(233, 233, 233);
}

.Links:visited{
  color:crimson
}


